body
  font-family: 'Quicksand', sans-serif

.banner
  text-align: center

  .btn
    border: none

  header.top-nav
    margin-top: 30px
    margin-bottom: 120px

  .main-title
    font-family: 'Quicksand', sans-serif
    margin-bottom: 36px

  .sub-title
    width: 600px
    margin: 0 auto 50px

  .separator
    width: 420px
    height: 1px
    background: #a6aab9
    margin: 0 auto

  .account-prompt
    font-size: 24px
    margin-top: 50px
    margin-bottom: 50px

  .buttons
    .btn
      font-size: 16px
      padding: 12px 40px
      margin: 0 12px

    .btn-primary
      background-color: #ff5a5f

html:after
  content : ""
  display: block
  position: fixed
  top: 0
  left: 0
  background-image: url(/assets/home.jpg)
  width: 100%
  height: 100%
  opacity : 0.2
  z-index: -1
  background-size: cover
